<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.marvelapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MarvelApp"
        android:usesCleartextTraffic="true">
        <activity android:name=".presentation.home.SearchableActivity"></activity>
        <activity android:name=".presentation.MainActivity" />
        <activity android:name=".presentation.quiz.QuizActivity" />
        <activity android:name="com.example.marvelapp.presentation.login.AccountAlreadyRegistered" />
        <activity android:name="com.example.marvelapp.presentation.login.CreateAnAccountActivity" />
        <activity android:name="com.example.marvelapp.presentation.login.CreateAPassword" />
        <activity android:name="com.example.marvelapp.presentation.login.ForgotYourPassword" />
        <activity android:name="com.example.marvelapp.presentation.login.LoginActivity" />
        <activity android:name="com.example.marvelapp.presentation.login.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".presentation.home.details.DetailsComicsActivity" />
        <activity android:name=".presentation.home.details.DetailsHeroesActivity" />
    </application>

</manifest>